DATABASE_URL="postgresql://user:password@host:5432/dbname?schema=public"

AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="https://your-domain.up.railway.app"
NEXTAUTH_URL="https://your-domain.up.railway.app"

# (Optional) Kakao Login
AUTH_KAKAO_ID=""
AUTH_KAKAO_SECRET=""

# (Optional) Naver Login
AUTH_NAVER_ID=""
AUTH_NAVER_SECRET=""
